<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyy.zyxk.dao.SysAuthorityMapper">
    <select id="getList" resultType="com.zyy.zyxk.api.vo.AuthorityVo">
        select
            sa.*
        from sys_authority sa
        where sa.is_del = true
          <if test="selectKey !=null and selectKey != ''">
                and sa.authority_name like concat ('%',#{selectKey},'%')
          </if>
        <if test="selectLongKey !=null and selectLongKey != ''">
            and (sa.authority_type = 1 or sa.authority_type = 2)
        </if>

    </select>
    <select id="getUserAuthorityAll" resultType="java.lang.String">
        select
            sa.authority_permission
        from teacher t
        left join teacher_role_rel trr on trr.teacher_id = t.teacher_id
        left join role_authority_rel rar on rar.role_id = trr.role_id
        left join sys_authority sa on sa.authority_id = rar.authority_id
        where t.teacher_id = #{id} and t.is_del = 1
    </select>
</mapper>